@model IEnumerable<Practica1.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table border">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RRHH_evaluator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.evaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEvaluation)
            </th>
            <th>
                CandidateInfo
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RRHH_evaluator)
            </td>
            <td class=font-weight-bold>
                @if (item.evaluation <= 6)
                {
                    <span class="font-weight-bold text-danger h5">@item.evaluation/10</span>
                }
                else { 
                    <span class="font-weight-bold text-success h5">@item.evaluation/10</span>
                }
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEvaluation)
            </td>
            <td class="border">
                @Html.DisplayFor(modelItem => item.Candidate.Name) <br />
                @Html.DisplayFor(modelItem => item.Candidate.Identification)
            </td>
 
            <td>

                <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.EvaluationID">Edit</a> |
                <a class="btn btn-secondary btn-sm" asp-action="Details" asp-route-id="@item.EvaluationID">Details</a> |
                <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.EvaluationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
