@model IEnumerable<Practica1.Models.Evaluation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RRHH_evaluator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.evaluation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commentary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEvaluation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RRHH_evaluator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.evaluation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateEvaluation)
            </td>
            <td>
             
                @Html.DisplayFor(modelItem => item.Candidate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EvaluationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EvaluationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EvaluationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
